.container {
  display: flex;
  flex-direction: column;
  width: 1168px;
  margin: 0 auto;
}

.gap32 {
  width: 1168px;
  height: 32px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1168px;
  height: 48px;
  background-color: var(--color-gray-5);
  border: 1px solid var(--border);
}

.gap42 {
  width: 1168px;
  height: 42px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1168px;
  height: 936px;
  background-color: var(--color-gray-5);
  border: 1px solid var(--border);
}

.gap40 {
  width: 1168px;
  height: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1168px;
  height: 32px;
  background-color: var(--color-gray-5);
  border: 1px solid var(--border);
}

.placeholder {
  color: var(--foreground-secondary);
  font-size: 14px;
  font-weight: 500;
}

